<!DOCTYPE html>
<html>
    <head>

        <!-- Title -->
        <title>ZAnalytics</title>

        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta charset="UTF-8">

        <!-- Styles -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link href="/assets/plugins/pace-master/themes/blue/pace-theme-flash.css" rel="stylesheet"/>
        <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/line-icons/simple-line-icons.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/waves/waves.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/slidepushmenus/css/component.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/plugins/jquery-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>

        <!-- Theme Styles -->
        <link href="/assets/css/za-custom.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/themes/white.css" class="theme-color" rel="stylesheet" type="text/css"/>

        <!-- Google API Script -->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    </head>

    <body ng-controller="ZAAppController" class="page-header-fixed">
        <div class="overlay"></div>
        <!-- Chat List -->
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s1">
            <h3><span class="pull-left">Chat</span><a href="javascript:void(0);" class="pull-right" id="closeRight"><i class="fa fa-times"></i></a></h3>
            <div class="slimscroll">
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar2.png" alt=""><span>Sandra smith<small>Hi! How're you?</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar3.png" alt=""><span>Amily Lee<small>Hi! How're you?</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar4.png" alt=""><span>Christopher Palmer<small>Hi! How're you?</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar5.png" alt=""><span>Nick Doe<small>Hi! How're you?</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar2.png" alt=""><span>Sandra smith<small>Hi! How're you?</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar3.png" alt=""><span>Amily Lee<small>Hi! How're you?</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar4.png" alt=""><span>Christopher Palmer<small>Hi! How're you?</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar5.png" alt=""><span>Nick Doe<small>Hi! How're you?</small></span></a>
            </div>
		</nav> <!-- END Chat List -->
        <!-- Chat Person -->
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
            <h3><span class="pull-left">Sandra Smith</span> <a href="javascript:void(0);" class="pull-right" id="closeRight2"><i class="fa fa-angle-right"></i></a></h3>
            <div class="slimscroll chat">
                <div class="chat-item chat-item-left">
                    <div class="chat-image">
                        <img src="assets/images/avatar2.png" alt="">
                    </div>
                    <div class="chat-message">
                        Hi There!
                    </div>
                </div>
                <div class="chat-item chat-item-right">
                    <div class="chat-message">
                        Hi! How are you?
                    </div>
                </div>
                <div class="chat-item chat-item-left">
                    <div class="chat-image">
                        <img src="assets/images/avatar2.png" alt="">
                    </div>
                    <div class="chat-message">
                        Fine! do you like my project?
                    </div>
                </div>
                <div class="chat-item chat-item-right">
                    <div class="chat-message">
                        Yes, It's clean and creative, good job!
                    </div>
                </div>
                <div class="chat-item chat-item-left">
                    <div class="chat-image">
                        <img src="assets/images/avatar2.png" alt="">
                    </div>
                    <div class="chat-message">
                        Thanks, I tried!
                    </div>
                </div>
                <div class="chat-item chat-item-right">
                    <div class="chat-message">
                        Good luck with your sales!
                    </div>
                </div>
            </div>
            <div class="chat-write">
                <form class="form-horizontal" action="javascript:void(0);">
                    <input type="text" class="form-control" placeholder="Say something">
                </form>
            </div>
		</nav> <!-- END Chat Person -->

        <!-- User Profile Menu -->
        <div class="menu-wrap">
            <!-- TODO what should I do with this ? -->
            <nav class="profile-menu">
                <div class="profile"><img src="assets/images/avatar1.png" width="52" alt="David Green"/><span>David Green</span></div>
                <div class="profile-menu-list">
                    <a href="#"><i class="fa fa-star"></i><span>Favorites</span></a>
                    <a href="#"><i class="fa fa-bell"></i><span>Alerts</span></a>
                    <a href="#"><i class="fa fa-envelope"></i><span>Messages</span></a>
                    <a href="#"><i class="fa fa-comment"></i><span>Comments</span></a>
                </div>
            </nav>
            <button class="close-button" id="close-button">Close Menu</button>
        </div>

        <!-- MAIN -->
        <main class="page-content content-wrap">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="sidebar-pusher">
                        <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="logo-box">
                        <a href="#/" class="logo-text"><span>ZANALYTICS</span></a>
                    </div><!-- Logo Box -->
                    <div class="topmenu-outer">
                        <div class="top-menu">
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic sidebar-toggle"><i class="fa fa-bars"></i></a>
                                </li>
                                <li>
                                    <a href="#cd-nav" class="waves-effect waves-button waves-classic cd-nav-trigger"><i class="fa fa-diamond"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic toggle-fullscreen"><i class="fa fa-expand"></i></a>
                                </li>
                            </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <!-- Messages notifications -->
                                <li class="za-select-product" ng-show="currentTab == 'reporting'">
                                    <a href="javascript:void(0);">
                                        <select id="app-id-selector" class="form-control">
                                            <option ng-repeat="app in userApps" value="{[{app['app_id']}]}">{[{app.name}]}</option>
                                        </select>
                                    </a>
                                </li>
                                <li ng-controller="DatepickerController" ng-show="currentTab == 'reporting'">
                                    <a href="javascript:void(0);" class="za-date-range-picker waves-effect waves-button waves-classic">
                                        <span id="za-date-range-picker-span">Select Date Range</span>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="badge badge-success pull-right">4</span></a>
                                    <ul class="dropdown-menu title-caret dropdown-lg" role="menu">
                                        <li><p class="drop-title">You have 4 new  messages !</p></li>
                                        <li class="dropdown-menu-list slimscroll messages">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="#">
                                                        <div class="msg-img"><div class="online on"></div><img class="img-circle" src="assets/images/avatar2.png" alt=""></div>
                                                        <p class="msg-name">Sandra Smith</p>
                                                        <p class="msg-text">Hey ! I'm working on your project</p>
                                                        <p class="msg-time">3 minutes ago</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="msg-img"><div class="online off"></div><img class="img-circle" src="assets/images/avatar4.png" alt=""></div>
                                                        <p class="msg-name">Amily Lee</p>
                                                        <p class="msg-text">Hi David !</p>
                                                        <p class="msg-time">8 minutes ago</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="msg-img"><div class="online off"></div><img class="img-circle" src="assets/images/avatar3.png" alt=""></div>
                                                        <p class="msg-name">Christopher Palmer</p>
                                                        <p class="msg-text">See you soon !</p>
                                                        <p class="msg-time">56 minutes ago</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="msg-img"><div class="online on"></div><img class="img-circle" src="assets/images/avatar5.png" alt=""></div>
                                                        <p class="msg-name">Nick Doe</p>
                                                        <p class="msg-text">Nice to meet you</p>
                                                        <p class="msg-time">2 hours ago</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="msg-img"><div class="online on"></div><img class="img-circle" src="assets/images/avatar2.png" alt=""></div>
                                                        <p class="msg-name">Sandra Smith</p>
                                                        <p class="msg-text">Hey ! I'm working on your project</p>
                                                        <p class="msg-time">5 hours ago</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="msg-img"><div class="online off"></div><img class="img-circle" src="assets/images/avatar4.png" alt=""></div>
                                                        <p class="msg-name">Amily Lee</p>
                                                        <p class="msg-text">Hi David !</p>
                                                        <p class="msg-time">9 hours ago</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="drop-all"><a href="#" class="text-center">All Messages</a></li>
                                    </ul>
                                </li> <!-- END Messages notifications -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
                                        <span class="user-name">David<i class="fa fa-angle-down"></i></span>
                                        <img class="img-circle avatar" src="assets/images/avatar1.png" width="40" height="40" alt="">
                                    </a>
                                    <ul class="dropdown-menu dropdown-list" role="menu">
                                        <li role="presentation"><a href="profile.html"><i class="fa fa-user"></i>Profile</a></li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation"><a href="lock-screen.html"><i class="fa fa-lock"></i>Lock screen</a></li>
                                        <li role="presentation"><a href="login.html"><i class="fa fa-sign-out m-r-xs"></i>Log out</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="login.html" class="log-out waves-effect waves-button waves-classic">
                                        <span><i class="fa fa-sign-out m-r-xs"></i>Log out</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic" id="showRight">
                                        <i class="fa fa-comments"></i>
                                    </a>
                                </li>
                            </ul><!-- Nav -->
                        </div><!-- Top Menu -->
                    </div>
                </div>
            </div><!-- Navbar -->

            <!-- Sidebar -->
            <div class="page-sidebar sidebar">
                <div class="page-sidebar-inner slimscroll">
                    <div class="sidebar-header">
                        <div class="sidebar-profile">
                            <a href="javascript:void(0);" id="profile-menu-link">
                                <div class="sidebar-profile-image">
                                    <img src="assets/images/avatar1.png" class="img-circle img-responsive" alt="">
                                </div>
                                <div class="sidebar-profile-details">
                                    <span>David Green<br><small>Art Director</small></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <ul class="menu accordion-menu">
                        <li class="active"><a href="#/" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
                        <li><a href="#/" class="waves-effect waves-button"><span class="menu-icon fa fa-area-chart"></span><p>Pages Overview</p></a></li>
                        <li class="droplink">
                            <a href="#" class="waves-effect waves-button">
                                <span class="menu-icon fa fa-globe"></span>
                                <p>Geo</p>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="#/">Language</a></li>
                                <li><a href="#/">Location</a></li>
                            </ul>
                        </li>
                        <li class="droplink">
                            <a href="#" class="waves-effect waves-button">
                                <span class="menu-icon fa fa-television"></span>
                                <p>Technology</p>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="#/">Browser & OS</a></li>
                                <li><a href="#/">Devices</a></li>
                            </ul>
                        </li>
                        <li class="droplink"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-gift"></span><p>Extra</p><span class="arrow"></span></a>
                            <ul class="sub-menu">
                                <li><a href="/views/extra/charts-chartjs.html">Chart.js</a></li>
                                <li><a href="/views/extra/table-data.html">Data Tables</a></li>
                                <li><a href="/views/extra/form-wizard.html">Form Wizard</a></li>
                                <li><a href="/views/extra/form-x-editable.html">X-editable</a></li>
                                <li><a href="/views/extra/login.html">Login Form</a></li>
                                <li><a href="/views/extra/register.html">Register Form</a></li>
                                <li><a href="/views/extra/forgot.html">Forgot Password</a></li>
                                <li><a href="/views/extra/lock-screen.html">Lock Screen</a></li>
                                <li><a href="/views/extra/ui-icons.html">Icons</a></li>
                                <li><a href="/views/extra/ui-notifications.html">Notifications</a></li>
                                <li><a href="/views/extra/ui-tabs-accordions.html">Tabs &amp; Accordions</a></li>
                                <li><a href="/views/extra/ui-panels.html">Panels</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- Page Sidebar Inner -->
            </div><!-- Page Sidebar -->

            <div class="page-inner">
                <div class="ng-view">
                    <!--TODO views go here-->
                </div>
                <div class="page-footer">
                    <p class="no-s">2015 &copy; <strong>ZAnalytics</strong> by <strong>VNG Freshers Summer 2015</strong>.</p>
                </div>
            </div><!-- Page Inner -->
        </main><!-- Page Content -->

        <!-- The CANVAS menu -->
        <nav class="cd-nav-container" id="cd-nav">
            <header>
                <h3>Navigation</h3>
                <a href="#0" class="cd-close-nav">Close</a>
            </header>
            <ul class="cd-nav list-unstyled">
                <li class="cd-selected" data-menu="index">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-home"></i>
                        </span>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li data-menu="profile">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <p>Profile</p>
                    </a>
                </li>
                <li data-menu="inbox">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                        <p>Mailbox</p>
                    </a>
                </li>
                <li data-menu="#">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-tasks"></i>
                        </span>
                        <p>Tasks</p>
                    </a>
                </li>
                <li data-menu="#">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-cog"></i>
                        </span>
                        <p>Settings</p>
                    </a>
                </li>
                <li data-menu="calendar">
                    <a href="javsacript:void(0);">
                        <span>
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                        <p>Calendar</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="cd-overlay"></div>


        <!-- JAVASCRIPTS -->
        <!-- Libraries -->
        <script src="/assets/plugins/moment/moment.js"></script>

        <script src="/assets/plugins/jquery/jquery-2.1.3.min.js"></script>
        <script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="/assets/plugins/jquery-daterangepicker/jquery.daterangepicker.js"></script>
        <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/assets/plugins/flot/jquery.flot.min.js"></script>
        <script src="/assets/plugins/flot/jquery.flot.time.min.js"></script>
        <script src="/assets/plugins/flot/jquery.flot.resize.min.js"></script>
        <script src="/assets/plugins/curvedlines/curvedLines.js"></script>

        <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

        <script src="/assets/plugins/pace-master/pace.min.js"></script>
        <script src="/assets/plugins/switchery/switchery.min.js"></script>
        <script src="/assets/plugins/offcanvasmenueffects/js/snap.svg-min.js"></script>
        <script src="/assets/plugins/offcanvasmenueffects/js/classie.js"></script>
        <script src="/assets/plugins/offcanvasmenueffects/js/main.js"></script>
        <script src="/assets/plugins/waves/waves.min.js"></script>
        <script src="/assets/plugins/3d-bold-navigation/js/modernizr.js"></script>
        <script src="/assets/plugins/3d-bold-navigation/js/main.js"></script>
        <script src="/assets/plugins/toastr/toastr.min.js"></script>

        <script src="/assets/plugins/angular/angular.min.js"></script>
        <script src="/assets/plugins/angular/angular-route.min.js"></script>
        <!-- Custom Scripts -->
        <script src="/assets/js/za-custom.js"></script>
        <!--<script src="/assets/js/pages/charts-chartjs.js"></script>-->
        <!--<script src="/assets/js/pages/form-wizard.js"></script>-->
        <!--<script src="/assets/js/pages/form-x-editable.js"></script>-->
        <!--<script src="/assets/js/pages/notifications.js"></script>-->
        <!--<script src="/assets/js/pages/table-data.js"></script>-->
        <!-- AngularJS Scripts -->
        <script src="/assets/js/services.js"></script>
        <script src="/assets/js/filters.js"></script>
        <script src="/assets/js/controllers.js"></script>
        <script src="/assets/js/directives.js"></script>
        <script src="/assets/js/app.js"></script>

    </body>
</html>