<div class="main-wrapper">
    <!-- Badges -->
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-white">
                <div class="visitors-chart">
                    <div class="panel-heading">
                        <h4 class="panel-title">Sessions</h4>
                    </div>
                    <div class="panel-body">
                        <div id="dashboard-summary-chart" style="height: 300px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-white total-metrics">
                <div class="col-lg-6 col-md-6">
                    <div class="panel info-box panel-white">
                        <div class="panel-body active" data-chart-label="Sessions" data-field-name="sessions">
                            <div class="info-box-stats">
                                <p class="counter">{[{sumOfSessions}]}</p>
                                <span class="info-box-title">Sessions</span>
                            </div>
                            <div class="info-box-icon">
                                <i class="icon-directions"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel info-box panel-white">
                        <div class="panel-body" data-chart-label="Users" data-field-name="users">
                            <div class="info-box-stats">
                                <p class="counter">{[{sumOfUsers}]}</p>
                                <span class="info-box-title">Users</span>
                            </div>
                            <div class="info-box-icon">
                                <i class="icon-users"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel info-box panel-white">
                        <div class="panel-body" data-chart-label="Pageviews" data-field-name="pageviews">
                            <div class="info-box-stats">
                                <p class="counter">{[{sumOfPageviews}]}</p>
                                <span class="info-box-title">Pageviews</span>
                            </div>
                            <div class="info-box-icon">
                                <i class="icon-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel info-box panel-white">
                        <div class="panel-body" data-chart-label="Avg. Session Duration" data-field-name="avgSessionDuration">
                            <div class="info-box-stats">
                                <p><span class="counter">{[{avgSessionDuration}]}</span></p>
                                <span class="info-box-title">Avg. Session Duration</span>
                            </div>
                            <div class="info-box-icon">
                                <i class="icon-clock"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel info-box panel-white">
                        <div class="panel-body" data-chart-label="Bounce Rate" data-field-name="bounceRate">
                            <div class="info-box-stats">
                                <p class="counter">{[{sumOfBounceRate}]}%</p>
                                <span class="info-box-title">Bounce Rate</span>
                            </div>
                            <div class="info-box-icon">
                                <i class="icon-bar-chart"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel info-box panel-white">
                        <div class="panel-body" data-chart-label="% New Visits" data-field-name="percentNewVists">
                            <div class="info-box-stats">
                                <p class="counter">{[{sumOfPercentNewVists}]}%</p>
                                <span class="info-box-title">% New Visits</span>
                            </div>
                            <div class="info-box-icon">
                                <i class="icon-graph"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Row --> <!-- END Metrics -->
</div>