<div class="page-title">
    <h3>Dashboard</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>
<div class="main-wrapper">
    <!-- Badges -->
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-white">
                <div class="visitors-chart">
                    <div class="panel-heading">
                        <h4 class="panel-title">Visitors</h4>
                    </div>
                    <div class="panel-body">
                        <div id="flotchart1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-white">
                <div class="col-lg-6 col-md-6">
                    <div class="panel info-box panel-white">
                        <div class="panel-body">
                            <div class="info-box-stats">
                                <p class="counter">107,200</p>
                                <span class="info-box-title">Sessions</span>
                            </div>
                            <div class="info-box-icon">
                                <i class="icon-directions"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel info-box panel-white">
                        <div class="panel-body">
                            <div class="info-box-stats">
                                <p class="counter">47,500</p>
                                <span class="info-box-title">Users</span>
                            </div>
                            <div class="info-box-icon">
                                <i class="icon-users"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel info-box panel-white">
                        <div class="panel-body">
                            <div class="info-box-stats">
                                <p class="counter">340,230</p>
                                <span class="info-box-title">Pageviews</span>
                            </div>
                            <div class="info-box-icon">
                                <i class="icon-eye"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel info-box panel-white">
                        <div class="panel-body">
                            <div class="info-box-stats">
                                <p>$<span class="counter">653,000</span></p>
                                <span class="info-box-title">Avg. Session Duration</span>
                            </div>
                            <div class="info-box-icon">
                                <i class="icon-clock"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel info-box panel-white">
                        <div class="panel-body">
                            <div class="info-box-stats">
                                <p class="counter">47,500</p>
                                <span class="info-box-title">Bounce Rate</span>
                            </div>
                            <div class="info-box-icon">
                                <i class="icon-bar-chart"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="panel info-box panel-white">
                        <div class="panel-body">
                            <div class="info-box-stats">
                                <p class="counter">47,500</p>
                                <span class="info-box-title">% New Visits</span>
                            </div>
                            <div class="info-box-icon">
                                <i class="icon-graph"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Row --> <!-- END Metrics -->
</div>

<div class="page-title">
    <h3>Demographics</h3>
</div>
<div class="main-wrapper">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Language</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">City</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-title">
    <h3>System</h3>
</div>
<div class="main-wrapper">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Browsers</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Operating Systems</h4>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>