<div class="main-wrapper">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Browsers</h4>
                    <hr/>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading">
                    <h4 class="panel-title">Operating Systems</h4>
                    <hr/>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>