<ul class="menu accordion-menu">
    <li class="active"><a href="#/" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
    <li><a href="#/pages-overview" class="waves-effect waves-button"><span class="menu-icon fa fa-area-chart"></span><p>Pages Overview</p></a></li>
    <li class="droplink">
        <a href="#" class="waves-effect waves-button">
            <span class="menu-icon fa fa-globe"></span>
            <p>Geo</p>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li><a href="#/geo/language">Language</a></li>
            <li><a href="#/geo/location">Location</a></li>
        </ul>
    </li>
    <li class="droplink">
        <a href="#" class="waves-effect waves-button">
            <span class="menu-icon fa fa-television"></span>
            <p>Technology</p>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li><a href="#/tech/browser-os">Browser & OS</a></li>
            <li><a href="#/tech/devices">Devices</a></li>
        </ul>
    </li>
</ul>